In [1]:
from yfin_data import *
import matplotlib.pyplot as plt

%load_ext autoreload
%autoreload 2

In [2]:
recs = read_records()

2022-01-10 21:29.18 [info     ] Read 11771 records

In [3]:
# Top 5 stocks that have stale prices
recs.sort_values(by='UpdatedAt').head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1.1.1,...,Market Category,ETF,Round Lot Size,Test Issue,Financial Status,CQS Symbol,NASDAQ Symbol,NextShares,ToDate,UpdatedAt
4059,4059,4059,4059,4059,4059,4059,4059,4059,4059,4059,...,S,N,100.0,N,N,NaN,FONR,N,2022-01-07,1.641818e+09
4058,4058,4058,4058,4058,4058,4058,4058,4058,4058,4058,...,,Y,100.0,N,NaN,FOMO,FOMO,N,2022-01-07,1.641818e+09
4057,4057,4057,4057,4057,4057,4057,4057,4057,4057,4057,...,G,N,100.0,N,N,NaN,FOLD,N,2022-01-07,1.641818e+09
4056,4056,4056,4056,4056,4056,4056,4056,4056,4056,4056,...,,N,100.0,N,NaN,FOF,FOF,N,2022-01-07,1.641818e+09
4055,4055,4055,4055,4055,4055,4055,4055,4055,4055,4055,...,,N,100.0,N,NaN,FOE,FOE,N,2022-01-07,1.641818e+09

In [4]:
# records start with 'A'
rA = recs[recs['Symbol'].str.startswith('A')]
rA.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1.1.1.1,...,Market Category,ETF,Round Lot Size,Test Issue,Financial Status,CQS Symbol,NASDAQ Symbol,NextShares,ToDate,UpdatedAt
0,0,0,0,0,0,0,0,0,0,0,...,,N,100.0,N,NaN,A,A,N,2022-01-10,1.641840e+09
1,1,1,1,1,1,1,1,1,1,1,...,,N,100.0,N,NaN,AA,AA,N,2022-01-10,1.641840e+09
2,2,2,2,2,2,2,2,2,2,2,...,,Y,100.0,N,NaN,AAA,AAA,N,2022-01-07,1.641840e+09
3,3,3,3,3,3,3,3,3,3,3,...,,Y,100.0,N,NaN,AAAU,AAAU,N,2022-01-10,1.641840e+09
4,4,4,4,4,4,4,4,4,4,4,...,,N,100.0,N,NaN,AAC,AAC,N,2022-01-10,1.641840e+09

In [35]:
recs.groupby('ToDate').size().to_frame(name="Count")

            Count
ToDate
-             989
2016-12-16      1
2018-01-30      1
2021-12-13      1
2021-12-29      1
2021-12-31      4
2022-01-03      7
2022-01-04      7
2022-01-05     12
2022-01-06     25
2022-01-07   2453
2022-01-10   8270

In [37]:
 s = recs['UpdatedAt'].apply(lambda d: datetime.fromtimestamp(d).strftime('%F'))

In [41]:
recs['ToDate'].value_counts()

2022-01-10    8270
2022-01-07    2453
-              989
2022-01-06      25
2022-01-05      12
2022-01-03       7
2022-01-04       7
2021-12-31       4
2021-12-13       1
2016-12-16       1
2018-01-30       1
2021-12-29       1
Name: ToDate, dtype: int64

In [40]:
recs.groupby('UpdatedDate').size().to_frame(name="Count")

             Count
UpdatedDate
2022-01-10   11771